<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
</head>
<body>
    <h1>Log In</h1>
    <form action= "/user/login" method="POST">
        <label>Email - Id : </label>
        <input type="text" name="email" placeholder="Enter Email Id..."">
        <label>Password : </label>
        <input type="text" name="password" placeholder="Enter Password...">
        <button type="submit">LogIn</button>
    </form>
</body>
</html>